html {
  font-size: 20px;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  --font-main: sans-serif;
  --color-bg-main: lightgrey;
  --color-text-main: #101010;
  --color-text-secondary: #2f2f2f;
  --color-link-main: darkblue;
  --color-error: darkred;
  --color-success: darkgreen;
  --color-subtle: #a0a0a0;
  --u: 4px;
  --u2: calc(var(--u) * 2);
  --u3: calc(var(--u) * 3);
  --u4: calc(var(--u) * 4);
  --u8: calc(var(--u) * 8);
  --u12: calc(var(--u) * 12);
  --u24: calc(var(--u) * 24);
  --u36: calc(var(--u) * 36);
  --u48: calc(var(--u) * 48);
  background-color: var(--color-bg-main);
  font-family: var(--font-main);
  color: var(--color-text-main);
  margin: 0;
}

h1 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1em;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1em;
}

header, nav, main {
  padding: 0 var(--u2);
}

input[type=text] {
  font-family: var(--font-main);
  font-size: 0.8rem;
  height: var(--u8);
}

button {
  font-family: var(--font-main);
  font-size: 0.8rem;
  height: var(--u8);
  padding-left: var(--u2);
  padding-right: var(--u2);
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu__menuItem {
  margin-right: var(--u4);
}

.menu__menuItem {
  color: var(--color-link-main);
  text-decoration: none;
}

.menu__menuItem._matched {
  text-decoration: underline;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 120rem;
  margin-top: var(--u2);
  margin-bottom: var(--u2);
}

.userInfo__currentUser {
  margin-right: var(--u4);
  line-height: 1.5rem;
}

.userInfo__changeUserForm {
  display: flex;
  flex-direction: column;
}

.userInfo__error {
  color: var(--color-error);
  font-size: 0.8rem;
  min-height: 1rem;
}

.userInfo__inputBlock {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.userInfo__input {
  margin-left: var(--u2);
  margin-right: var(--u2);
  width: 8rem;
}

.main {
  margin-top: var(--u4);
  padding-top: var(--u4);
  border-top: 1px solid grey;
}

.mainGrid {
  display: grid;
  grid-template-columns: auto 40vw;
  grid-template-rows: auto;
  grid-template-areas: "main side";
  column-gap: var(--u2);
  padding-bottom: 4rem;
}

.mainGrid__main {
  grid-area: main;
  border-right: 1px solid grey;
  padding-right: var(--u2);
  border-bottom: 0;
}

.mainGrid__side {
  grid-area: side;
}

.question__header {
  display: flex;
  margin-bottom: var(--u8);
}

.question__imageBlock {
  display: flex;
  width: 100%;
  margin-bottom: var(--u8);
}

.question__image {
  width: 100%;
}

.question__name {
  display: flex;
  min-width: 3rem;
  font-weight: bold;
  align-items: first baseline;
  justify-content: flex-end;
  font-size: 2rem;
  margin: 0;
}

.question__text {
  margin-left: 1rem;
  line-height: 1.2rem;
}

.question__answer {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--u4);
}

.question__answer input {
  width: 1rem;
  min-width: 1rem;
  height: 1.1rem;
  min-height: 1.1rem;
  margin: 0 1rem 0 1rem;
  padding: 0;
}

.question__answer label {
  line-height: 1.1rem;
}

.question__check {
  width: 1rem;
  min-width: 1rem;
  height: 1.1rem;
  min-height: 1.1rem;
}

.question__actionsBar {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid grey;
  background-color: var(--color-bg-main);
  padding-bottom: var(--u2);
}

.question__actions {
  bottom: 0rem;
  display: flex;
  width: calc(0.6 * (100vw - 16px) - var(--u2));
  justify-content: space-between;
  padding-left: 4rem;
}

.question__actions._skooch {
  justify-content: flex-end;
}

.question__gotoBlock {
  margin-right: var(--u2);
  display: flex;
}

.question__gotoInput {
  width: 4rem;
  margin-right: var(--u2);
}

.basicText {
  line-height: 1.4rem;
  max-width: 40rem;
}

.basicText h2 {
  margin: var(--u4) 0;
}

.basicText h3:first-child {
  margin-top: var(--u2);
}

.basicText h3 {
  margin: var(--u8) 0 var(--u2) 0;
  color: var(--color-text-secondary);
  font-weight: bold;
}

.errorText {
  line-height: 1.2rem;
  color: var(--color-error);
}

.errorColor {
  color: var(--color-error);
}

.basicText p {
  margin: 0 0 var(--u4) 0;
}

.stats__table {
  border: 1px solid grey;
  border-collapse: collapse;
}

.stats__table tbody tr:nth-child(odd) {
  background-color: white;
}

.stats__table th {
  font-size: 0.8rem;
}

.stats__table td {
  font-size: 1rem;
}

.__tdCenter {
  text-align: center;
}

.__success {
  color: var(--color-success);
}

.__error {
  color: var(--color-error);
}

.__subtle {
  color: var(--color-subtle);
}

.stats__table th, .stats__table td {
  border: 1px solid grey;
  padding: var(--u2);
}

@media screen and (max-width: 600px) {
  .question__actionsBar {
    flex-direction: column-reverse;
    height: var(--u36);
    padding-top: var(--u4);
    justify-content: space-between;
    background-color: var(--color-subtle);
    box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.2)
  }

  .question__actions {
    padding: var(--u2);
    width: 100%;
    min-width: 100%;
  }

  .question__actionsBar button, .question__actionsBar input {
    height: var(--u12);
    padding: var(--u4);
  }

  .mainGrid {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "main"
      "side";
    column-gap: 0;
    row-gap: var(--u2);
    padding-bottom: 5rem;
  }

  .mainGrid__main {
    border-right: 0;
    padding-right: 0;
    padding-bottom: var(--u2);
    border-bottom: 1px solid grey;
  }

  .mainGrid__side {

  }

  .userInfo {
    flex-direction: column;
  }

  .userInfo__inputBlock {
    justify-content: flex-start;
  }
}

.reports__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.reports__listItem {
  padding-bottom: var(--u2);
  display: inline-flex;
}

.reports__questionNumber {
  min-width: 2.4rem;
  text-align: right;
  padding-right: var(--u2);
}

.reports__questionScore {
}

.reports__header {
  margin: 2.4rem;
  margin-top: 0;
  margin-bottom: var(--u2);
}

.reports__hint {
  margin-left: 2.4rem;
  margin-bottom: var(--u2);
}
